body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

nav {
  background-color: #A3B18A;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
  
  color: white;
}

footer {
  background-color: #A3B18A;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
  color: white;
}

h1 {
  font-size: 40px;
}

.first-section {
  background-color: #588157;
  padding: 10px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

.second-section {
  background-color: #DAD7CD;
  padding: 20px;
    font-family: 'Montserrat', sans-serif;
}


a {
  color: #588157;
  text-decoration: none;
}

a:hover { 
  color:white;
  text-decoration: underline;
}


.font1 {
font-family: 'PT Sans', sans-serif;

  color: whitesmoke;
  font-size: 15px;
}


.font2 {
    font-family: 'Montserrat', sans-serif;
      color: #344E41;
      font-size: 15px;
}

hr {
  border: none;
  border-radius: 10px;
  height: 5px;
  background-image: linear-gradient(to right, #3A5A40, #A3B18A, #3A5A40);
}



.top-section {
  display:flex;
  justify-content: space-between;
  position: relative;
}



.second-section img {
  border: 3px solid #3A5A40;
  border-radius: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

img:hover {
transform: scale(1.05);
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* width: 40%; */
  margin-bottom: 20px;
  background-color: #A3B18A;
  transition: transform 0.3s;

}

.card2 {
  display:flex;
  flex-wrap: wrap;
  border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    /* width: 60%; */
    margin-bottom: 20px;
    background-color: #DAD7CD;
    transition: transform 0.3s;
    
}


.card:hover {
  transform: scale(1.02);
}

/* div {
  margin-left: 25em;
} */

.three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
}


.cardimg { 
  width: 25em;
}

li { 
  list-style: none;
  margin-right: 40px;
  display:flex;
  justify-content: center;
}

.one-col {
  width: 50em;
  margin-top: 10px;
 
  /* margin: 0 auto; */
}

.centerEverything {
display:flex;
justify-content: center;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #344E41;
    border-radius: 10px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #3A5A40;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #588157;
}
